# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./Frontend/node_modules
./Frontend//.pnp
./Frontend/.pnp.js

# testing
./Frontend/coverage

# production
./Frontend/build

./Frontend/src/Img
# misc
./Frontend/.DS_Store
./Frontend/package-log.json
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

./Backend/node_modules
./Backend/.env
